<div
  class="mention-popup"
  [id]="listboxId"
  role="listbox"
  [attr.aria-label]="i18n.t('mention.ariaLabel')"
  (mousedown)="onMouseDown($event)"
>
  @for (option of options(); track option.kind + ':' + (option.userId ?? '')) {
    <button
      type="button"
      class="mention-option"
      [class.mention-option--all]="option.kind === 'all'"
      [class.mention-option--active]="$index === activeIndex()"
      [id]="optionId($index)"
      role="option"
      [attr.aria-selected]="$index === activeIndex()"
      (mouseenter)="hovered.emit($index)"
      (click)="choose(option)"
    >
      @if (option.kind === 'all') {
        <span class="mention-avatar mention-avatar--all" aria-hidden="true">&#64;</span>
        <span class="mention-name">{{ i18n.t('mention.all') }}</span>
        <span class="mention-tag">&#64;{{ option.label }}</span>
      } @else {
        <span class="mention-avatar" [style.background-color]="option.color" aria-hidden="true">
          {{ option.initial }}
        </span>
        <span class="mention-name">{{ option.label }}</span>
        <span class="mention-tag">&#64;{{ option.label }}</span>
      }
    </button>
  } @empty {
    <p class="mention-empty">{{ i18n.t('mention.empty') }}</p>
  }
</div>
